.button1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.button2 {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button2 span:after {
	content: ">>";
	position: absolute;
	opacity: 0;
	right: -20px;
	transition: 0.5s;
}
.button2:hover span {
	padding-right: 45px;
}
.button2:hover span:after {
	opacity: 1;
	right: 0;
}