ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
/* display:block - 显示块元素的链接，让整体变为可点击链接区域（不只是文本），它允许我们指定宽度 */
a:link,a:visited {
	display: block;
	width: 100px;
	font-weight: bold;
	color: white;
	background-color: #98bf21;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover,a:active {
	background-color: #7A991A;
}